
/* *{
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #febd60;
  --primary-color: #febd60;
} */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root{
    --primary-color: #febd69;
    --primary-shade: #d49644;

}
